@import url(color.css);
.btn-sm {
    padding: 8px 14px;
}
.btn-md {
    padding: 10px 16px;
}
.btn-lg {
    padding: 10px 18px;
}
.btn-xl {
    padding: 12px 20px;
}
.btn-2xl {
    padding: 16px 28px;
}

.text-white {
    color: #ffffff;
}
.text-primary-700 {
    color: var(--Primary-700);
}
.text-gray-500 {
    color: var(--Gray-500);
}
.text-gray-700 {
    color: var(--Gray-700);
}
.text-gray-300 {
    color: var(--Gray-300);
}
.text-error-700 {
    color: var(--Error-700);
}.text-error-300 {
    color: var(--Error-300);
}