@import url(color.css);
@import url(button.css);
body {
    font-family: 'Inter';
    font-style: normal;
    color: #101828;
}
 .flex {
    display: flex;
    gap: 40px;
 }
/*btn btn-primary*/
.btn-primary {
    background-color: var(--Primary-600);
    border: 1px solid var(--Primary-600);
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    cursor: pointer;
}
.btn-primary:hover {
    background-color: var(--Primary-700);
    border: 1px solid var(--Primary-700);
}
.btn-primary:active {
    background-color: var(--Primary-600);
    border: 1px solid var(--Primary-600);
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px var(--Primary-100);
}
.btn-primary:disabled {
    background-color: var(--Primary-200);
    border: 1px solid var(--Primary-200);
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}

/*btn-secondary*/
.btn-secondary {
    background-color: var(--Primary-50);
    border: 1px solid var(--Primary-50);
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    cursor: pointer;
}
.btn-secondary:hover {
    background-color: var(--Primary-100);
    border: 1px solid var(--Primary-100);
}
.btn-secondary:active {
    background-color: var(--Primary-50);
    border: 1px solid var(--Primary-50);
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px var(--Primary-100);
}
.btn-secondary:disabled {
    background-color: var(--Primary-25);
    border: 1px solid var(--Primary-25);
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}

/*btn-secondary-gray*/
.btn-secondary-gray {
    background-color: var(--White--);
    border: 1px solid var(--Gray-300);
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    cursor: pointer;
}
.btn-secondary-gray:hover {
    background-color: var(--Gray-50);
    border: 1px solid var(--Gray-300);
}
.btn-secondary-gray:active {
    background-color: var(--White--);
    border: 1px solid var(--Gray-300);
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px var(--Gray-100);
}
.btn-secondary-gray:disabled {
    background-color: var(--White--);
    border: 1px solid var(--Gray-200);
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}

/*btn-tertiary*/
.btn-tertiary {
    background-color: var(--White--);
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.btn-tertiary:hover {
    background-color: var(--Primary-50);
}
.btn-tertiary:active {
    background-color: var(--White--);
}
.btn-tertiary:disabled {
    background-color: var(--White--);
}

/*btn-tertiary-gray*/
.btn-tertiary-gray {
    background-color: var(--White--);
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.btn-tertiary-gray:hover {
    background-color: var(--Gray-50);
    color: var(--Gray-600);
}
.btn-tertiary-gray:active {
    background-color: var(--White--);
    color: var(--Gray-500);
}
.btn-tertiary-gray:disabled {
    background-color: var(--White--);
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    color: var(--Gray-500);
}

/*btn-link-primary*/
.btn-link-primary {
    text-decoration: none;
    cursor: pointer;
}
.btn-link-primary:hover {
    color: var(--Primary-800);
}
.btn-link-primary:active {
    color: var(--Primary-700);
}
.btn-link-primary:disabled {
    background-color: var(--White--);
    color: var(--Gray-300);
    pointer-events: none;
}

/*btn-link-gray*/
.btn-link-gray {
    text-decoration: none;
    cursor: pointer;
}
.btn-link-gray:hover {
    color: var(--Gray-600);
}
.btn-link-gray:active {
    color: var(--Gray-600);
}
.btn-link-gray:disabled {
    background-color: var(--White--);
    color: var(--Gray-300);
}


/*btn-primary-error*/
.btn-primary-error {
    background-color: var(--Error-600);
    border: 1px solid var(--Error-600);
    border-radius: 8px;
    cursor: pointer;
}
.btn-primary-error:hover {
    background-color: var(--Error-700);
    border: 1px solid var(--Error-700);
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}
.btn-primary-error:active {
    background-color: var(--Error-600);
    border: 1px solid var(--Error-600);
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px var(--Error-100);
}
.btn-primary-error:disabled {
    background-color: var(--Error-200);
    border: 1px solid var(--Error-200);
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}

/*btn-secondary-error*/
.btn-secondary-error {
    background-color: var(--Error-50);
    border: 1px solid var(--Error-50);
    border-radius: 8px;
    cursor: pointer;
}
.btn-secondary-error:hover {
    background-color: var(--Error-100);
    border: 1px solid var(--Error-100);
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}
.btn-secondary-error:active {
    background-color: var(--Error-50);
    border: 1px solid var(--Error-50);
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}
.btn-secondary-error:disabled {
    background-color: var(--Error-25);
    border: 1px solid var(--Error-25);
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}

/*btn-secondary-error2*/
.btn-secondary-error2 {
    background-color: var(--White--);
    border: 1px solid var(--Error-300);
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    cursor: pointer;
}
.btn-secondary-error2:hover {
    background-color: var(--Error-50);
    border: 1px solid var(--Error-300);
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}
.btn-secondary-error2:active {
    background-color: var(--White--);
    border: 1px solid var(--Error-300);
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px var(--Error-100);
}
.btn-secondary-error2:disabled {
    background-color: var(--White--);
    border: 1px solid var(--Error-200);
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}
/*btn-btn-tertiary-error*/
.btn-tertiary-error {
    background-color: var(--White--);
    border: none;
    cursor: pointer;
}
.btn-tertiary-error:hover {
    background: var(--Error-50);
    border-radius: 8px; 
}
.btn-tertiary-error:active {
    background-color: var(--White--);  
    border: none; 
}
.btn-tertiary-error:disabled {
    background-color: var(--White--);
    border: none;
}

/*btn-tertiary-gray2*/
.btn-tertiary-gray2 {
    background-color: var(--White--);
    border: none;
    cursor: pointer;
}
.btn-tertiary-gray2:hover {
    background-color: var(--Error-50);
    border-radius: 8px;
    color: var(--Error-800);
}
.btn-tertiary-gray2:active {
    background-color: var(--White--);
}
.btn-tertiary-gray2:disabled {
    background-color: var(--White--);
    color: var(--Error-300);
}
/*btn-link-error2*/
.btn-link-error2 {
    text-decoration: none;
    cursor: pointer;
}
.btn-link-error2:hover {
    color: var(--Error-800);
}
.btn-link-error2:active {
    color: var(--Error-700);
}
.btn-link-error2:disabled {
    background-color: var(--White--);
    color: var(--Error-300);
}
/*btn-link-gray2*/
.btn-link-gray2 {
    text-decoration: none;
    cursor: pointer;
}
.btn-link-gray2:hover {
    color: var(--Error-800);
}
.btn-link-gray2:active {
    color: var(--Error-700);
}
.btn-link-gray2:disabled {
    background-color: var(--White--);
    color: var(--Error-300);
}
/*Typography*/
/* Display 2xl */
.Display-2xl-Regular {
    font-weight: 400;
    font-size: 72px;
    line-height: 90px;
}
.Display-2xl-Medium {
    font-weight: 500;
    font-size: 72px;
    line-height: 90px;
}
.Display-2xl-Semibold {
    font-weight: 600;
    font-size: 72px;
    line-height: 90px;
}
.Display-2xl-Bold {
    font-weight: 700;
    font-size: 72px;
    line-height: 90px;
}
/* Display xl */
.Display-xl-Regular {
    font-weight: 400;
    font-size: 60px;
    line-height: 72px;
}
.Display-xl-Medium {
    font-weight: 500;
    font-size: 60px;
    line-height: 72px;
}
.Display-xl-Semibold {
    font-weight: 600;
    font-size: 60px;
    line-height: 72px;
}
.Display-xl-Bold {
    font-weight: 700;
    font-size: 60px;
    line-height: 72px;
}
/* Display lg */
.Display-lg-Regular {
    font-weight: 400;
    font-size: 48px;
    line-height: 60px;
}
.Display-lg-Medium {
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
}
.Display-lg-Semibold {
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
}
.Display-lg-Bold {
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
}
/* Display md */
.Display-md-Regular {
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
}
.Display-md-Medium {
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
}
.Display-md-Semibold {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
}
.Display-md-Bold {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
}
/* Display sm */
.Display-sm-Regular {
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
}
.Display-sm-Medium {
    font-weight: 500;
    font-size: 30px;
    line-height: 38px;
}
.Display-sm-Semibold {
    font-weight: 600;
    font-size: 30px;
    line-height: 38px;
}
.Display-sm-Bold {
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
}
/* Display xs */
.Display-xs-Regular {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
}
.Display-xs-Medium {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
}
.Display-xs-Semibold {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
}
.Display-xs-Bold {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}
/* Text xl */
.Text-xl-Regular {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}
.Text-xl-Medium {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}
.Text-xl-Semibold {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
}
.Text-xl-Bold {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}
/* Text lg */
.Text-lg-Regular {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}
.Text-lg-Medium {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
}
.Text-lg-Semibold {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
}
.Text-lg-Bold {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
}
/* Text md */
.Text-md-Regular {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.Text-md-Medium {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
.Text-md-Semibold {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}
.Text-md-Bold {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}
/* Text sm */
.Text-sm-Regular {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}
.Text-sm-Medium {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}
.Text-sm-Semibold {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}
.Text-sm-Bold {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}
/* Text xs */
.Text-xs-Regular {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
}
.Text-xs-Medium {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
}
.Text-xs-Semibold {
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
}
.Text-xs-Bold {
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
}
