@import url(button.css);
@import url(img.css);
body {
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.h2 {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #101828;
    padding: 10px;
    
}
.H2 {
    font-weight: 600;
    font-size: 30px;
    line-height: 38px;
    color: #101828;
}
.H3 {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #667085;
    padding: 0 10px 22px;
}
.H4 {
  padding-top: 50px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #667085;
}
.H5 {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}
.H6 {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #101828;
}
.header {
    background: rgba(255, 255, 255, 0.06);
}

/*Section2*/
.background {
    background-color: #F9F5FF;
    border-radius: 16px;
}
.section2_text > div {
    margin: 6px;
    padding: 7px;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color:#6941C6;
}
.background-text  {
    background-color: #ffffff;
    border-radius: 16px;
}
.flex-container > div:last-child {
    padding-top: 10px;
    padding-bottom: 50px;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    padding: 20px 10px;
}
.img2 > img {
    Width: 277.56px;
    Height: 173.19px;
}
.light > hr {
    width: 90%;
    border: 1px solid #EAECF0;
  }
/*Section3*/

.section3_content {
    padding-top: 40px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color:#6941C6;
}

/* .section3_grid > div:first-child {
} */
/*Section4*/
.section4 {
    background-color: #F9FAFB;
  }

@media only screen and (min-width:376px) {
   /*Section2*/
    .flex-container { 
        justify-content: center;
        display: flex;
    }
    .flex-container > div {
        margin: 10px;
    }
    .flex-container > div:last-child {
        padding-top: 0px;
    }
    .button1 {
        padding: 7px 35px;
    }
    .button2 {
        padding: 7px 35px;
    }
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto auto auto auto;
        gap: 10px;
        padding: 10px 40px;
    }
    .img2 > img {
        Width:984px;
        Height:614px;
    }
    /*Section3*/
    .section3_content {
        font-size: 16px;
        line-height: 24px;
    }
    .grid-container2 {
        display: grid;
        grid-template-columns: auto auto auto ;
        gap: 10px;
        padding: 10px;
    }
}