@import url(button.css);
@import url(img.css);

body {
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.p {
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}
.H0 {
  font-size: 64px;
  font-weight: 800;
  line-height: 64px;
  letter-spacing: 0px;
}
.H1 {
  font-size: 44px;
  font-weight: 800;
  line-height: 44px;
  letter-spacing: 0px;
  color: #F7FAFC;
}
.H2 {
  font-size: 35px;
  font-weight: 800;
  line-height: 35px;
  letter-spacing: 0px;
  text-align: left;
  color: #F7FAFC;
}
.H3 {
  font-size: 28px;
  font-weight: 300;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: left;
  color: #F7FAFC;
}
.H4 {
  font-size: 18px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #F7FAFC;
}
.H5 {
  font-size: 22px;
  font-weight: 300;
  line-height: 31px;
  letter-spacing: 0em;
}
.H6 {
  font-size: 18px;
  font-weight: 300;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  color: #F7FAFC;
}
.H7 {
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #F7FAFC;
}
.H8 {
  font-size: 18px;
  font-weight: 300;
  line-height: 25px;
  letter-spacing: 0em;
  color: #F7FAFC;
}
.H9 {
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: #F7FAFC;
}
.H10 {
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  letter-spacing: 0.08em;
  color: #F7FAFC;
}
.H11 {
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  color: #F7FAFC;
}
.container, .header, .section1, .section2, .section3, .section4, .section5, .section6 , .section7 , .footer-top {
  padding: 0 80px;
}
/*Header*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1B2631;
}
.topnav {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.topnav a {
  color: #F7FAFC;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: 700;
  font-size: 15px;
  line-height: 32px;
}
.button {
  display: flex;
  align-items: center;
  padding: 14px 16px;
}
.space {
  padding: 0 15px;
}

/*Section*/
.section {
  text-align: left;
  color: #F7FAFC;
}
.row {
  padding: 20px 40px;
}
.banner-content {
  background-color: #1B2631;
  position: absolute;
  width: 680px;
  height: 605px;
  left: 0px;
  top: calc(50% - 228px/2);
}
.button1 {
  display: flex;
  align-items: center;
}
.row > .H1{
  padding: 40px 0;
}
.row > .H5 {
  padding-bottom: 40px;
}

/*Section1*/
.section1 {
  background-color: #1B2631;
}
.flex-container1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.grid-container1 {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 50px;
  text-align: center;
  padding: 40px 0;
}
.Text {
  font-weight: 800;
  font-size: 44px;
  line-height: 44px;
  background: linear-gradient(45deg, #1D8AF7 0%, #7A8CD6 50%, #F7861D 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.section1-left {
  padding-right: 250px;
}
.section1-right {
  padding-right: 50px;
}

/*Section2*/
.section2 {
  background-color: #1B2631;
}
.flex-container2 {
  padding-top:40px ;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.grid-container2 {
  display: grid;
  grid-template-columns: auto;
  gap: 50px;
  text-align: center;
  padding: 40px 0;
}
.section2-right > .image2-right{
  padding-bottom: 410px;
}
.section2-content > .H2 {
  padding-right: 250px;
}
.section2-content > .H6 {
  padding-top: 20px;
  padding-bottom: 40px;
  padding-right: 250px;
}

/*Section3*/
.section3 {
  background-color: #1B2631;
}
.section3-background {
  padding: 100px 270px;
}
.section3-banner {
  border: 1px solid #ffffff;
  border-radius: 16px;
  background: #22303E;;
}
.flex-container3 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}
.flex-container3 > div:first-child {
  padding-bottom: 125px;
}
.flex-container3 > div:last-child {
  padding-left: 20px;
}
.flex-container3 > div > .H4 {
  padding-top: 20px;
}

/*Section4*/
.section4 {
  background-color: #1B2631;
  text-align: center !important;
}
.section4-content {
  padding-bottom: 40px;
}
.section4-content > .H8 {
  padding-top: 20px;
  padding-bottom: 30px;
}
.section4-banner {
  padding: 0px 590px;
}
.flex-container4 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #22303E;
  border-radius: 8px;
  padding: 8px 12px;
}
.flex-container4 > div:last-child {
  padding: 8px;
}
.monthly-background {
  background: #1B2631;
  border-radius: 12px;
  padding: 8px 6px;
}

.grid-container4 {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 50px;
  text-align: left;
}
.pricing-basic, .pricing-plus, .pricing-premium {
  background: #22303E;
  border-radius: 16px;
  padding: 20px;
}
.pricing-basic-banner > .H8 {
  padding: 20px 0;
}
.pricing-plus-banner > .H8 {
  padding: 20px 0;
}
.pricing-premium-banner > .H8 {
  padding: 20px 0;
}
.basic , .plus, .premium{
  display: flex;
  align-items: center;
}
.img-space {
  padding: 10px 0;;
}